@import "../../../static/css/config";

.news {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 5% 10% 5% 10%;


  &__pagination {
    margin-top: 25px;
    width: 450px;
    display: flex;
    align-self: center;
    justify-content: space-around;
    margin-bottom: 10px;
    &-go-button {

    }
  }
}

.posts {
  display: flex;
  flex-direction: column;
  width: 100%;
}
