@import "config";

.friends-modal {
  position: absolute;
  z-index: 999;
  width: 200px;
  display: flex;
  flex-direction: column;
  background-color: $blocks-background;
  border-radius: 15px;
  border: thin black solid;
  &-points {
    display: flex;
    width: 100%;
    height: 40px;
    user-select: none;
    cursor: pointer;
    border-bottom: thin black solid;
    &:first-child {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }

    &:last-child {
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }

    &:hover {
      background-color: #1956a8;
    }

    &:active {
      background-color: #131b44;
    }

    &-text {
      font-size: 24px;
      font-family: $main-font;
      color: white;
      margin: auto;
    }
  }
}
