@import "../../../static/css/config";

.party {
  display: flex;
  background-color: $blocks-background;
  box-shadow: 4px 4px 10px 2px #00072d;
  flex-direction: row;
  border-radius: 15px;
  border-left: thin solid black;
  border-right: thin solid black;
  justify-content: flex-start;

  //&:last-child {
  //  margin-right: 5px;
  //}

  &__friend {
    display: flex;
    width: 25%;
    justify-content: center;
    border: thin solid black;
    border-radius: 15px;
    margin: 5px;
    &-logo {
      align-self: center;
      width: 100%;
      height: 100%;
      border-radius: 15px;
    }
  }
}