@import "../../../static/css/config";

.party {
  display: flex;
  background-color: $blocks-background;
  flex-direction: row;
  border: thin solid black;
  width: 100%;
  margin: auto;
  justify-content: space-between;

  &__leave {
    display: flex;
    justify-content: center;
    margin: 5px;
    width: 70px;
    cursor: pointer;

    &:hover {
      background-color: $blocks-background-hover;
    }
    &:active {
      background-color: $blocks-background-active;
    }

    &__value {
      width: 35px;
      height: 35px;
      align-self: center;
      background-image: url("../../../static/imgs/leave.png");
      background-size: cover;
    }
  }

  &__friends {
    display: flex;
    justify-content: flex-start;

  }

  &__friend {
    display: flex;
    justify-content: center;
    margin: 5px;
    width: 65px;

    &-logo {
      align-self: center;
      width: 60px;
      height: 60px;
      border-radius: 15px;
    }
  }
}
