<div class="party {{class}}">
    <div class="party__friend">
        <Image class="party__friend-logo" src="../images/user-logo.jpg"></Image>
    </div>
    <div class="party__friend">
        <Image class="party__friend-logo" src="../images/user-logo.jpg"></Image>
    </div>
    <div class="party__friend">
        <Image class="party__friend-logo" src="../images/user-logo.jpg"></Image>
    </div>
    <div class="party__friend">
        <Image class="party__friend-logo" src="../images/user-logo.jpg"></Image>
    </div>
    <div class="party__invite">
        <Image class="party__invite-button" src="../images/add.png"></Image>
    </div>
</div>