@import "../../../static/css/config";

.settings-avatar {
  display: flex;
  justify-content: center;
  &__user-avatar {
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
    opacity: 1;
    border-radius: 15px;
  }
}