<div class="news">
    {{#each news}}
        <Post
            title="{{this.title}}"
            datetime="{{this.datetime}}"
            body="{{this.body}}"
        >
        </Post>
    {{/each}}
    <div class="news__pagination">
        <Button class="back button_no-animation" click=" (){ newsPaginate(); }">More</Button>
    </div>
</div>