@import "../../../static/css/config";

.input-block {
  width: 80%;
  //height: 60px;
  display: flex;
  flex-direction: column;
  @media only screen and (max-device-width : 1000px) {
    width: 500px;
    height: 120px;
  }

  display: flex;
  &_avatar {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 180px;

    & .avatar {
      width: 120px;
      height: 120px;
      border-radius: 15px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
    }

  }
  &__input {
    //margin-top: 10px;
    font-size: 20px;
    font-family: $main-font;
    margin: auto;
    color: $input-text-color;
    width: 100%;
    height: 50px;
    @media only screen and (max-device-width : 1000px) {
      height: 70px;
      font-size: 35px;
    }
    padding: 5px;
    padding-left: 15px;
    border: thin solid $border-color;
    background-color:$input-color;
    outline: 0;
    &:focus {
      background-color: $blocks-background-hover;
    }
  }

  &__error {
    display: block;
    width: 100%;
    height: 30px;
    font-size: 20px;
    font-family: $main-font;
    color: red;
    margin-bottom: 5px;
    margin-top: 20px;
    margin-left: 10px;
  }
}

