<div class="main-page">
    <Header class="main-page__header">
        <div class="header-logo">
            <div class="header-logo-content"></div>
        </div>
    </Header>
    <div class="main-page__content">
        <div class="main-page__content-row">
            <Menu>
                <MenuPoint onclick="{{{stringifyFunc goToGame}}}">Play</MenuPoint>
                <MenuPoint onclick="{{{stringifyFunc goToLogin}}}">Login</MenuPoint>
                <MenuPoint onclick="{{{stringifyFunc goToSignUp}}}">Sign Up</MenuPoint>
            </Menu>
            <div class="scroll">
                <div
                    class="scroll-icon rotate-scroll-close"
                    click="(){scrollToContent();}"
                >
                </div>
            </div>
        </div>
        <div class="main-page__content-row main-page__content-row_low-height">
            <div class="main-page__content-description">
                <div class="text">
                    <p class="text__data">
                        Deadlines - это игра, созданная по мотивам карты 101 rounds из популярной игры Warcraft.
                        Управляя своим персонажем в пределах арены,
                        уклоняйся от наплывающих со всех сторон и жаждущих тебя уничтожить врагов.
                        Будь быстрым и внимательным. Объединяйся в команды с друзьями и придумывай стратегии победы.
                        Оттачивай скилл и покажи, кто тут самый ловкий!
                    </p>
                </div>
            </div>
        </div>
        <div class="main-page__content-row main-page__content-row_low-height">
            <div class="main-page__content-trailer">
                <Trailer src="https://www.youtube.com/embed/L3Mg6lk6yyA" frameborder="0" allow="autoplay; encrypted-media"></Trailer>
            </div>
        </div>
    </div>
</div>