$headers-font: 'Nunito', sans-serif;
$header-background: rgba(10, 10, 10, 0.61);

$main-header-background: rgba(0, 0, 0, 1);

$header-text-color: #e5f4e3;

$main-font: 'Alegreya SC', serif;
$blocks-background: rgba(29, 29, 29, 0.6);
$button-hover-text: rgba(0, 0, 0, 1);
$blocks-background-hover: rgba(255, 102, 42, 0.6);
$blocks-background-active: rgba(0, 0, 0, 0.52);

$blocks-text-color: #e5f4e3;

$input-color: rgba(0, 0, 0, 0.68);
$input-text-color: #e5f4e3;

$border-color: white;

$orange-color: rgba(255, 102, 42, 0.6);

$btn-color : rgba(0, 0, 0, 0.7);

