.root{

}

.hidden{
    display: none;
}

.login-block{
    background-color: beige;
    width: 400px;
    height: 240px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -100px 0 0 -150px;
}

.login-block form{
    width: 96%;
    height: 90%;
}


.login-block .login-block__input-block input{
    font-size: 28px;
    width: 100%;
    height: 40px;
    margin: 2%;
}

.login-block__login-button{
    cursor: pointer;
    text-align: center;
    vertical-align: center;
    margin: 10px;
    margin-left: 150px;
    width: 100px;
    height: 50px;
    border: thin solid;
    border-radius: 30px;
    background-color: darkgray;
}

.login-block__login-button p {
    margin-top: 15px;
}


.registration-block {
    background-color: beige;
    width: 400px;
    height: 550px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -200px 0 0 -200px;
}

.registration-block form {
    width: 96%;
    height: 90%;
}

.registration-block input {
    width: 100%;
    height: 40px;
    margin: 2%;
    font-size: 28px;
}

.registratonButton {
    cursor: pointer;
    text-align: center;
    vertical-align: center;
    margin: 10px;
    margin-left: 150px;
    width: 100px;
    height: 50px;
    border: thin solid;
    border-radius: 30px;
    background-color: darkgray;
}

.error {
    color: red;
}

.error-disable{
    display: none;
}
