.table {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
//border-radius: 10px;
    width: 100%;
    height: 100%;

&__row {
     display: flex;
     flex-direction: row;
     height: 60px;
     width: 100%;
     border-bottom: black solid thin;
&:hover {
     background-color: #1956a8;
 }
}

&__header-row {
     display: flex;
     flex-direction: row;
     height: 60px;
     width: 100%;
     border-bottom: black solid;
 }

&__data {
     color: $blocks-text-color;
     font-size: 33px;
     flex-grow: 1;
     flex-basis: 0;
     text-align: center;
     align-self: center;
     margin: 0;
     width: 100px;
     user-select: none;
     font-family: $main-font;
 }

&__header {
     font-size: 37px;
     color: $blocks-text-color;
     flex-grow: 1;
     flex-basis: 0;
     text-align: center;
     align-self: center;
     margin: 0;
     width: 150px;
     user-select: none;
     font-family: $main-font;
 }
}