@import "../../../static/css/config";

$btn-width  : 200px !default;
$btn-height : 70px !default;
$lineheight : 70px;
$margin : 25px;
$trans_delay : .1s;


.btn{
  display:block;
  width:$btn-width;
  height:$btn-height;
  border:1px solid white;
  overflow:hidden;
  color:white;
  line-height:$lineheight;
  text-transform:capitalize;
  border-radius:3px;
  font-size:32px;
  font-family: $headers-font;
  text-align: center;
  float:left;
  position:relative;
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
  background-color: $btn-color;

  &-play{
    align-self: center;
    width: 300px;
    height: 80px;
    font-size: 40px;
    line-height:80px;
    box-shadow: $blocks-text-color 0px 0px 10px 1px inset;
    &:before {
      border-bottom:80px solid $orange-color !important;
    }
  }
}

[data-type]{
  &:before{
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index:-1;
  }
  &:hover{
    -webkit-box-shadow:0 5px 20px rgba(0,0,0,0.5);
    box-shadow:0 5px 20px rgba(0,0,0,0.5);
    cursor:pointer;
    -webkit-transition-delay:$trans_delay;
    transition-delay:$trans_delay;
    color:$button-hover-text;
    z-index:8;
  }
}

[data-type="diagonal_swipe_left"]{
  &:before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    display:block;
    width: 100%;
    height: 100%;
    -webkit-transform:translateX(-100%);
    transform:translateX(-100%);
    border-right:50px solid rgba(0,0,0,0);
    border-bottom:70px solid $orange-color;
  }
  &:hover{
    &:before{
      -webkit-transform:translateX(0);
      transform:translateX(0);
    }
  }
}

@keyframes button-shining {
  0% {
    box-shadow: 0px 0px 10px 1px aqua;
  }
  50% {
    box-shadow: 0px 0px 10px 2px aqua;
  }
  100% {
    box-shadow: 0px 0px 10px 1px aqua;
  }
}