$main-font: 'Antic Slab', serif;
$blocks-background: #143f6b;
$blocks-text-color: #e5f4e3;

.button {
  width: 200px;
  height: 70px;
  background-color: #0e6ba8;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  box-shadow: 4px 4px 10px 2px #00072d;
  margin-top: 10px;
  cursor: pointer;
  animation: button-shining 1.15s ease infinite;

  &_no-animation {
    animation: none;
  }

  &:hover {
    background-color: #1956a8;
    animation: button-shining 1.15s ease infinite;
    box-shadow: aqua;
  }

  &:active {
    background-color: #131b44;
    animation: none;
    box-shadow: 0 0 10px 2px aqua;
  }

  &__value {
    color: white;
    font-size: 30px;
    align-self: center;
    user-select: none;
  }

  &-play {
    background-color: #940000;
    width: 250px;
    margin: auto;
    animation: button-shining 1.15s ease infinite;

    &:hover {
      background-color: #b80004;
    }

    &:active {
      background-color: #40151c;
    }

    &__value {
      color: white;
      font-size: 45px;
      align-self: center;
      user-select: none;
      font-family: $main-font;
    }
  }
}

@keyframes button-shining {
  0% {
    box-shadow: 0px 0px 10px 1px aqua;
  }
  50% {
    box-shadow: 0px 0px 10px 4px aqua;
  }
  100% {
    box-shadow: 0px 0px 10px 1px aqua;
  }
}
