@import "../../../static/css/config";

.button {
  width: 200px;
  height: 70px;
  @media all and (max-width : 1000px) {
    width: 350px;
    height: 120px;
    font-size: 65px;

  }
  background-color: #0e6ba8;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  box-shadow: 2px 2px 4px 1px #00072d;
  margin-top: 10px;
  cursor: pointer;
  font-family: $main-font;
  animation: button-shining 1.3s linear infinite;
  opacity: 1 !important;

  &_no-animation {
    animation: none;
  }

  &:hover {
    background-color: #1956a8;
    animation: button-shining 1.15s ease infinite;
    box-shadow: aqua;
  }

  &:active {
    background-color: #131b44;
    animation: none;
    box-shadow: 0 0 10px 2px aqua;
  }

  &__value {
    color: white;
    font-size: 30px;
    @media all and (max-width : 1000px) {
      font-size: 45px;
    }
    align-self: center;
    user-select: none;
  }

  &-play {
    background-color: #940000;
    width: 250px;
    margin: auto;
    animation: button-shining 1.3s linear infinite;

    &:hover {
      background-color: #b80004;
    }

    &:active {
      background-color: #40151c;
    }

    &__value {
      color: white;
      font-size: 45px;
      @media all and (max-width : 1000px) {
        font-size: 65px;
      }
      align-self: center;
      user-select: none;
      font-family: $main-font;
    }
  }
}

@keyframes button-shining {
  0% {
    box-shadow: 0px 0px 10px 1px aqua;
  }
  50% {
    box-shadow: 0px 0px 10px 2px aqua;
  }
  100% {
    box-shadow: 0px 0px 10px 1px aqua;
  }
}
