@import "../../../static/css/config";

.button {
  width: 200px;
  height: 70px;
  @media only screen and (max-device-width : 1000px) {
    width: 350px;
    height: 120px;
    font-size: 65px;

  }
  background-color: #0e6ba8;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  box-shadow: 2px 2px 4px 1px #00072d;
  margin-top: 10px;
  cursor: pointer;
  font-family: $main-font;
  animation: button-shining 1.3s linear infinite;
  opacity: 1 !important;

  &_no-animation {
    animation: none;
  }

  &:hover {
    background-color: #1956a8;
    animation: button-shining 1.15s ease infinite;
    box-shadow: aqua;
  }

  &:active {
    background-color: #131b44;
    animation: none;
    box-shadow: 0 0 10px 2px aqua;
  }

  &__value {
    color: white;
    font-size: 30px;
    @media only screen and (max-device-width : 1000px) {
      font-size: 45px;
    }
    align-self: center;
    user-select: none;
  }

  &-play {
    background-color: #940000;
    width: 250px;
    margin: auto;
    animation: button-shining 1.3s linear infinite;

    &:hover {
      background-color: #b80004;
    }

    &:active {
      background-color: #40151c;
    }

    &__value {
      color: white;
      font-size: 45px;
      @media only screen and (max-device-width : 1000px) {
        font-size: 65px;
      }
      align-self: center;
      user-select: none;
      font-family: $main-font;
    }
    @media only screen and (max-device-width : 1000px) {
      display: none;
    }
  }
}

$btn-color : black;

*,
.btn:before,
.btn:after {
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

$btn-width  : 250px !default;
$btn-height : 80px !default;
$color1 : #fff;
$color2 : #e91e63;
$lineheight : 80px;
$margin : 25px;
$trans_delay : .1s;


.btn{
  display:block;
  width:200px;
  height:80px;
  border:1px solid white;
  overflow:hidden;
  color:white;
  line-height:$lineheight;
  text-transform:capitalize;
  border-radius:3px;
  font-size:25px;
  font-family: $main-font;
  text-align: center;
  float:left;
  //margin: 25px;
  position:relative;
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
  background-color: $btn-color;


}

[data-type]{
  &:before{
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index:-1;
  }
  &:hover{
    -webkit-box-shadow:0 5px 20px rgba(0,0,0,.5);
    box-shadow:0 5px 20px rgba(0,0,0,.5);
    cursor:pointer;
    -webkit-transition-delay:$trans_delay;
    transition-delay:$trans_delay;
    color:$blocks-background;
    z-index:8;
  }
}

[data-type="diagonal_swipe_left"]{
  &:before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    display:block;
    width: 100%;
    height: 100%;
    -webkit-transform:translateX(-100%);
    transform:translateX(-100%);
    border-right:50px solid $btn-color;
    border-bottom:$btn-height solid $color1;
  }
  &:hover{
    &:before{
      -webkit-transform:translateX(0);
      transform:translateX(0);
    }
  }
}

@keyframes button-shining {
  0% {
    box-shadow: 0px 0px 10px 1px aqua;
  }
  50% {
    box-shadow: 0px 0px 10px 2px aqua;
  }
  100% {
    box-shadow: 0px 0px 10px 1px aqua;
  }
}