$headers-font: 'Nunito', sans-serif;
$header-background: #0f255d;

$main-font: 'Antic Slab', serif;
$blocks-background: #143f6b;
$blocks-text-color: #e5f4e3;

.auth-page {
  min-width: 1400px;
  max-width: 1920px;
  &__header {
    justify-content: space-between;
  }

  &__content {
    width: 100%;
    display: flex;
    //justify-content: space-around;
    //align-items: flex-start;
    margin-top: 150px;

    &-left {
      min-width: 60%;
      //max-width: 100%;
      height: 100%;
      min-height: 820px;
      display: flex;
      flex-basis: 100%;
      margin-right: 100px;
      margin-left: 30px;
      //width: auto;

      &-modal {
        background-color: $blocks-background;
        width: 100%;
        height: 100%;
        min-height: 700px;
        border-radius: 15px;
        box-shadow: 4px 4px 10px 2px #00072d;
        opacity: 0.95;
        display: flex;
        flex-direction: column;
        overflow: auto;

        &-data {
          align-self: center;
          display: flex;
          width: 100%;
          min-height: 780px;
          height: 90%;
          justify-content: center;
        }

        .modal-header {
          width: 100%;
          height: 40px;
          background-color: $header-background;
          border-radius: 25px;
          display: flex;
          justify-content: space-between;
          &__point {
            //height: 100%;
            flex-grow: 1;
            flex-basis: 300px;
            display: flex;
            user-select: none;
            background-color: $header-background;
            cursor: pointer;
            border-left: thin solid black;
            border-right: thin solid black;
            border-bottom: thin solid black;
            &_active {
              background-color: #5d7dba;
            }
            &:hover {
              background-color: #1956a8;
            }
            &:active {
              background-color: #131b44;
            }
            &:first-child{
              border-top-left-radius: 15px;
              border-left: none;
            }
            &:last-child{
              border-top-right-radius: 15px;
              border-right: none;
            }
            &-value {
              font-size: 35px;
              margin: auto;
              color: $blocks-text-color;
              font-family: $main-font;
            }
          }
        }
      }
    }

    &-right {
      max-width: 350px;
      height: 100%;
      min-height: 820px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &-friends {
        width: auto;
        display: flex;
        flex-direction: row;
        height: 100%;
        background-color: $blocks-background;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        opacity: 0.9;
        box-shadow: 4px 4px 10px 2px #00072d;


        &-icon {
          display: flex;
          width: 50px;
          height: 700px;
          border-right: thin black solid;
          border-top-left-radius: 15px;
          border-bottom-left-radius: 15px;
          cursor: pointer;

          &:hover {
            background-color: #1956a8;
          }
          &:active {
            background-color: #131b44;
          }

          &-value {
            width: 30px;
            height: 30px;
            margin: auto;
            transform: rotate(180deg);
          }
        }
      }
      .friends {
        //width: 300px;
        height: 700px;
        background-color: $blocks-background;
        display: flex;
        flex-direction: column;
        //border-radius: 25px;
        &-label {
          display: flex;
          height: 40px;
          border-bottom: black solid thin;
          background-color: $header-background;

          &-value {
            font-size: 40px;
            margin: auto;
            color: $blocks-text-color;
            font-family: $main-font;
            user-select: none;
          }
        }
        &-item {
          height: 100px;
          display: flex;
          justify-content: space-around;
          background-color: $blocks-background;
          //border-radius: 5px;
          border-bottom: thin solid black;
          &-avatar {
            width: 60px;
            height: 60px;
            align-self: center;
            opacity: 1;
            border-radius: 15px;
          }
          &-login {
            display: flex;
            width: 200px;
            &-value {
              margin: auto;
              font-size: 30px;
              font-family: $main-font;
              color: $blocks-text-color;
              user-select: none;
            }
          }

          &-image {
            align-self: center;
            width: 30px;
            height: 30px;
            cursor: pointer;
          }
        }
      }

      .content-right-party {
        width: 100%;
        height: 100px;
        display: flex;
        background-color: $blocks-background;
        box-shadow: 4px 4px 10px 2px #00072d;
        flex-direction: row;
        border-radius: 25px;
        border-left: thin solid black;
        border-right: thin solid black;
        justify-content: space-around;
        &-friend {
          display: flex;
          width: 20%;
          justify-content: center;
          &-logo {
            align-self: center;
            width: 60px;
            height: 60px;
            border-radius: 15px;
          }
        }
        &-invite {
          display: flex;
          justify-content: center;
          width: 20%;
          height: 100%;
          &-button {
            user-select: none;
            cursor: pointer;
            margin: auto;
            width: 50px;
            height: 50px;
          }
        }
      }
    }
  }
}

.scoreboard {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  &__pagination {
    margin-top: 25px;
    width: 450px;
    display: flex;
    align-self: center;
    justify-content: space-around;
    &-go-button {

    }

  }
}

.about-block {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: center;
  &__data {
    margin-top: 25px;
    display: flex;
    align-self: center;
    justify-content: space-around;
  }
  &__trailer {
    margin-top: 20px;
    height: 400px;
    width: 700px;
    align-self: center;
    background-color: $blocks-background;
    box-shadow: 4px 4px 10px 2px #00072d;

    & iframe {
      width: 100%;
      height: 100%;
    }
  }
}

.scoreboard {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  &__pagination {
    margin-top: 25px;
    width: 450px;
    display: flex;
    align-self: center;
    justify-content: space-around;
    &-go-button {
    }
  }
}

.rotate-open {
  animation: rotation-open 0.5s;
}

.rotate-close {
  animation: rotation-close 0.5s;
}

@keyframes rotation-open {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes rotation-close {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}