@import "../../../static/css/config";

.label {
  display: flex;
  justify-content: center;
  //height: 50px;
  //margin-bottom: 40px;
  //margin-top: 10px;
}

.label-text {
  align-self: center;
  font-size: 50px;
  @media only screen and (max-device-width : 1000px) {
    font-size: 75px;
  }
  font-family: $headers-font;
  color: $blocks-text-color;
}