<div class="game">
    <Label class="game__notes"></Label>
    <Button class="init-button" click="(){ initGame(); }">Start game</Button>
    <div class="game__battleground">
        <canvas class="game__battleground-canvas"></canvas>
        <div class="game__arena"></div>
    </div>
</div>