@import "../../../static/css/config";

.game {
  width: 100vw;
  height: 100vh;
  position: relative;

  &__title {
    position: absolute;
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    z-index: 9999;

    &-text{
      margin: auto;
    }
  }

  &__pause {
    z-index: 9999;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    display: flex;
    justify-content: center;

    &-data {
      width: 80%;
      height: 50%;
      align-self: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      opacity: 1;
    }

    &-notes {
      margin-bottom: 50px;
    }

    &-buttons {
      display: flex;
      width: 50%;
      justify-content: space-between;
    }
  }

  &__battleground {
    //z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    //background-color: $header-background;
    filter: brightness(150%);

    background-image: url("../../../static/images/arena-back.png");
    background-size: cover;
    background-repeat: no-repeat;

    &-canvas {
      z-index: 9998;
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }

  &__arena {
    //z-index: 2000;
    display: flex;
    align-self: center;
    width: 60%;
    height: 70%;
    filter: brightness(50%);
    opacity: 0.8;
    background-color: $blocks-background;
    border-radius: 25px;
    //background-image: url("../../../static/images/arena-border.png");
    background-size: cover;
    //background-repeat: no-repeat;
  }


}
