<div class="game">

    <div class="game__title">
        <Label class="game__title-text"></Label>
    </div>
    <div class="game__pause">
        <div class="game__pause-data">
            <Label class="game__pause-notes"></Label>
            <div class="game__pause-buttons">
                <Button class="game__exit button" click="(){exitGame();}">Go back</Button>
                <Button class="game__repeat button" click="(){goToGame();}">Play again</Button>
            </div>
        </div>
    </div>
    <div class="game__battleground">
        <canvas class="game__battleground-canvas"></canvas>
        <div class="game__arena"></div>
    </div>
    <div class="controllers-block">
        <div class="controllers controllers__right"><p>Right</p></div>
        <div class="controllers controllers__up"><p>Up</p></div>
        <div class="controllers controllers__down"><p>Down</p></div>
        <div class="controllers controllers__left"><p>Left</p></div>
    </div>
</div>