<div class="game">
    <h1 class="game__notes"></h1>
    <div class="game__battleground">
        <canvas class="game__battleground-canvas"></canvas>
        <div class="game__arena"></div>
    </div>
</div>