@import "../../../static/css/config";

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: center;
  font-family: $headers-font;
  width: 450px;
  cursor: pointer;

  &__content {
    width: 400px;
    height: 100px;
    margin-left: 30px;
    background-image: url("../../../static/imgs/test3.png");
    background-repeat: no-repeat;
  }
}
