<div class="friend">
    <img class="friend__avatar" src="{{{avatar}}}">
    <div class="friend__login">
        <p class="friend__login-value">{{login}}</p>
    </div>
    <div class="friend__online">
        {{#if online}}
            <div class="friend__online-value"></div>
        {{/if}}
    </div>
</div>