@import "../../../static/css/config";

.friend {
  height: 70px;
  display: flex;
  flex: 1;
  justify-content: space-around;
  background-color: $blocks-background;
  cursor: pointer;

  &__avatar {
    width: 50px;
    height: 50px;
    align-self: center;
    opacity: 1;
    border-radius: 15px;
  }

  &__login {
    display: flex;

    &-value {
      margin: auto;
      font-size: 25px;
      font-family: $main-font;
      color: $blocks-text-color;
      user-select: none;
    }
  }

  &:hover {
    background-color: #1956a8;
  }
}