<div class="friends-item">
    <img class="friends-item-avatar" src="{{avatar}}">
    <div class="friends-item-login">
        <p class="friends-item-login-value">{{login}}</p>
    </div>
    <img class="friends-item-image" src="../images/menu.png">
</div>