<div class="post {{class}}">
    <div class="post__top-row">
        <div class="post__title">
            <p class="post__title-value">{{title}}</p>
        </div>
        <div class="post__datetime">
            <p class="post__datetime-value">{{datetime}}</p>
        </div>
    </div>
    <div class="bottom-row">
        <div class="post__body">
            <p class="post__body-value">{{body}}</p>
        </div>
    </div>
</div>