.menu {
  opacity: 0.9;
  width: 400px;
  background-color: $blocks-background;
  color: $blocks-text-color;
  border-radius: 25px;
  box-shadow: 4px 4px 10px 2px #00072d;
  animation: shining 1.5s linear infinite;
}