@import "../../../static/css/config";


.menu {
  width: 500px;
  background-color: $blocks-background;
  color: $blocks-text-color;
  border: thin black solid;
}

@media only screen and (max-device-width : 1000px) {
  .menu {
    width: 600px;
  }
}