<div class="main-page">
    <Header class="main-page__header">
        <div class="header-logo">
            <div class="header-logo-content"></div>
        </div>
    </Header>

    <div class="form-block registration">
        <div class="form-block-content">
            <div click="{{{ stringifyFunc goBack}}}" class="form-block-content__back">
                <Image class="form-block-content__back-icon" src="images/back.png"></Image>
            </div>
            <Form>
                <Label class="form-block-content__label">Sign Up</Label>
                <div class="form-block-content-inputs">
                    <Input
                            block-class="user-name"
                            type="text"
                            input-name="login"
                            placeholder="Login">
                    </Input>
                    <Input
                            block-class="user-email"
                            type="text"
                            input-name="email"
                            placeholder="E-mail">
                    </Input>
                    <Input
                            block-class="user-password"
                            type="password"
                            input-name="password"
                            placeholder="Password">
                    </Input>
                    <Input
                            block-class="user-repeat-password"
                            type="password"
                            input-name="repeatPassword"
                            placeholder="Repeat password">
                    </Input>
                    <Button
                            click="{{{ stringifyFunc validateRegistration }}}"
                            class="signup-button">
                        Sign Up
                    </Button>
                </div>
            </Form>
        </div>
    </div>
</div>